<!DOCTYPE html>
<html lang="cs">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Textilní soutěž</title>

<link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&display=swap" rel="stylesheet">
<link href="{{ url_for('static',filename='styles/workspace/style.css') }}" rel="stylesheet">
</head>

<body>

<header>

    <!-- LOGO (ÚPLNĚ VLEVO) -->
    <div class="nav-logo">
        <a href="{{ url_for('index') }}">
            <img src="{{ url_for('static', filename='images/BIGYlogo.png') }}" style="height: 26px;" >
        </a>
    </div>

    <!-- LEFT NAV -->
    <div class="nav-left">
        <a class="nav-link" href="#" onclick="switchSite('W-Welcome')">Úvod</a>
        <a class="nav-link" href="#" onclick="switchSite('W-Designs')">Návrhy</a>
        <a class="nav-link" href="#" onclick="switchSite('W-MyDesigns')">Moje návrhy</a>
    </div>

  <!-- RIGHT --> <div class="nav-right"> <div class="user-email">{{ user.email }}</div><a class="logout" href="{{ url_for('logout') }}">Odhlásit se [→</a> </div>

</header>

<div> <!-- All the windows will be here-->
    <div id="W-Welcome" >

    </div>
    <div id="W-Designs" style="display: none;">
        <button class="funbutton" style="margin:8px" onclick="loadDesigns()">↻</button>
        <div>
            <div id="DesignsGrid" class="design-grid">

            </div>
            <div class="pager">
                <button id="prevBtn" class="pager-btn" onclick="DesignPage-=1;loadDesigns()">◀</button>

                <div id="pageText" class="pager-text">Stránka 1</div>

                <button id="nextBtn" class="pager-btn" onclick="DesignPage+=1;loadDesigns()">▶</button>
            </div>
        </div>
    </div>
    <div id="W-MyDesigns" style="display: none;">
        <div id="myDesignsGrid" class="design-grid">

        </div>
        <button class="funbutton" style="margin-left:8px" onclick="openModal()">Vytvořit návrh</button><button class="funbutton" style="margin-left:8px" onclick="loadMyDesigns()">↻</button>
    </div>
</div>

<!-- MODAL -->
<div id="modalOverlay" class="modal-overlay hidden">
    <div class="modal">
            <div class="modal-header">
                <div>Vytvořit návrh</div>
                <button class="close-btn" onclick="closeModal()">✕</button>
            </div>

            <div class="editor">

                <!-- CANVAS -->
                <div class="canvas-wrapper">
                    <zoom-stage>
                        <div class="zoom-content">
                            <canvas id="designCanvas"></canvas>
                        </div>
                    </zoom-stage>
                </div>

                <!-- SIDE PANEL -->
                <div class="panel">
                    
                    <label>Barva podkladu</label>
                    <select id="colorSelect">
                        <option value="#eeeeee">Bílá</option>
                        <option value="#181818">Černá</option>
                        
                        
                    </select>

                    <button onclick="downloadTemplate()">Stáhnout šablonu</button>
                    <button onclick="uploadTemplate('front')">Nahrát přední šablonu</button>
                    <button onclick="uploadTemplate('back')">Nahrát zadní šablonu</button>
                    <p style="font-size: 75%;"><input type="checkbox" id="UploadTerms"> Nahráním souhlasím s poskytnutím komerčńi licence provozovateli aplikace</p><br>
                    <button onclick="uploadDesign()">Dokončit</button>
                </div>
            </div>
    </div>
</div>

<!-- ERROR TOAST -->
<div id="errorToast" class="toast hidden"></div>

<!-- Config.js -->
<script defer>
    const USER = {{ user | tojson }}
    const TshirtDimensions = [5258, 5569]
    const zoneDimensions = [2687, 4513]
    const zoneOffset = [1285, 800]
</script>

<!-- Basic functions-->
<script defer>
    const modal = document.getElementById("modalOverlay");
    const toast = document.getElementById("errorToast");

        // OPEN MODAL
    function openModal() {
        document.getElementById("colorSelect").value = "#eeeeee"
        modal.classList.remove("hidden");
        frontImage = getClearCut();
        backImage = getClearCut();
        document.getElementById("UploadTerms").checked = false;
        redrawCanvas();
    }

    // CLOSE MODAL
    function closeModal() {
        modal.classList.add("hidden");
    }

    // ERROR TOAST
    function showError(message) {
        toast.textContent = message;
        toast.classList.add("show");

        setTimeout(() => {
            toast.classList.remove("show");
        }, 3000);
    }
    function loadImage(src) {
        return new Promise((resolve, reject) => {
            const img = new Image();
            img.src = src;
            img.onload = () => resolve(img);
            img.onerror = reject;
        });
    }
</script>

<!-- Advanced Functions-->

<script defer>
    function getClearCut() {
        let cut = document.createElement("canvas");cut.width = zoneDimensions[0] - 20;cut.height = zoneDimensions[1] - 20;
        const ctx = cut.getContext("2d");
        ctx.clearRect(0,0,zoneDimensions[0] - 20,zoneDimensions[1] - 20);
        return cut;
    }

    async function drawCanvas(color, front, back) {
        const drawCanvas = document.createElement("canvas");
        drawCanvas.width = TshirtDimensions[0] * 2; // dvě trička vedle sebe
        drawCanvas.height = TshirtDimensions[1];
        const ctx = drawCanvas.getContext("2d");


        const baseImg = await loadImage("{{ url_for('static', filename='images/canvasTshirt.png') }}");

        // === HLAVNÍ CANVAS ===
        ctx.clearRect(0, 0, drawCanvas.width, drawCanvas.height);

        // === TEMPLATE CANVAS (data layer) ===
        const template = document.createElement("canvas");
        template.width = drawCanvas.width;
        template.height = drawCanvas.height;

        const tctx = template.getContext("2d");

        // 1️⃣ barva (pozadí)
        tctx.fillStyle = color;
        tctx.fillRect(0, 0, template.width, template.height);

        // 2️⃣ FRONT image
        if (front) {
            tctx.drawImage(
                front,
                zoneOffset[0] + 10,
                zoneOffset[1] + 10,
                zoneDimensions[0] - 20,
                zoneDimensions[1] - 20
            );
        }

        // 3️⃣ BACK image (posun o šířku trika)
        if (back) {
            tctx.drawImage(
                back,
                TshirtDimensions[0] + zoneOffset[0] + 10,
                zoneOffset[1] + 10,
                zoneDimensions[0] - 20,
                zoneDimensions[1] - 20
            );
        }

        // === RENDER LAYER ===

        // 4️⃣ nakresli obě trička (maska + shading základ)
        ctx.drawImage(baseImg, 0, 0);
        ctx.drawImage(baseImg, TshirtDimensions[0], 0);

        // 5️⃣ aplikuj template jen tam kde je tričko
        ctx.globalCompositeOperation = "source-in";
        ctx.drawImage(template, 0, 0);

        // 6️⃣ shading (detaily trička)
        ctx.globalCompositeOperation = "multiply";
        ctx.drawImage(baseImg, 0, 0);
        ctx.drawImage(baseImg, TshirtDimensions[0], 0);

        // reset
        ctx.globalCompositeOperation = "source-over";
        return drawCanvas;
    }
</script>

<!-- Designer -->

<script defer>

    let frontImage = getClearCut();
    let backImage = getClearCut();


    async function downloadTemplate() {
        const color = document.getElementById("colorSelect").value;
        const canvas = document.createElement("canvas");
        const ctx = canvas.getContext("2d");
        const width = TshirtDimensions[0];
        const height = TshirtDimensions[1];
        canvas.toDataURL("image/png")
        canvas.width = width;
        canvas.height = height;
        const baseImg = await loadImage("{{ url_for('static', filename='images/templateshirt.png') }}");
        const zoneImg = await loadImage("{{ url_for('static', filename='images/zone.png') }}");
        ctx.drawImage(baseImg, 0, 0, width, height);
        ctx.globalCompositeOperation = "source-in";
        ctx.fillStyle = color;
        ctx.fillRect(0, 0, width, height);
        ctx.globalCompositeOperation = "multiply";
        ctx.drawImage(baseImg, 0, 0, width, height); 
        ctx.globalCompositeOperation = "source-over";
        ctx.drawImage(zoneImg, zoneOffset[0], zoneOffset[1], zoneDimensions[0], zoneDimensions[1]);
        const link = document.createElement("a");
        link.download = "BIGY-template.png";
        link.href = canvas.toDataURL("image/png");
        link.click();
    }



    async function redrawCanvas() {
        let newCanvas = await drawCanvas(document.getElementById("colorSelect").value,frontImage,backImage);
        designCanvas.replaceWith(newCanvas);
        designCanvas = newCanvas;
    }

    function uploadTemplate(type) {
        const input = document.createElement("input");
        input.type = "file";
        input.accept = "image/png";

        input.onchange = async (e) => {
            const file = e.target.files[0];
            if (!file) return;

            const img = await loadImage(URL.createObjectURL(file));

            if (img.width !== TshirtDimensions[0] || img.height !== TshirtDimensions[1]) {
                showError("Rozměry šablony neodpovídají");
                return;
            }

            const cut = document.createElement("canvas");
            cut.width = zoneDimensions[0] - 20;
            cut.height = zoneDimensions[1] - 20;

            const cctx = cut.getContext("2d");

            cctx.drawImage(
                img,
                zoneOffset[0] + 10,
                zoneOffset[1] + 10,
                zoneDimensions[0] - 20,
                zoneDimensions[1] - 20,
                0,
                0,
                cut.width,
                cut.height
            );

            if (type === "front") {
                frontImage = cut;
            } else {
                backImage = cut;
            }

            redrawCanvas();
        };

        input.click();
    }

    async function uploadDesign() {
        async function canvasToBlob(canvas) {
        return new Promise((resolve) => {
            canvas.toBlob((blob) => {
            resolve(blob);
            }, "image/png");
        });
        }
        if (!document.getElementById("UploadTerms").checked) {
            showError("Musíš souhlasit s podmínkami nahrání!")
            return
        }
        try {

            const formData = new FormData()

            formData.append("front", await canvasToBlob(frontImage), "front.png")
            formData.append("back", await canvasToBlob(backImage), "back.png")
            formData.append("color", document.getElementById("colorSelect").value)
            console.log([...formData.entries()])
            const response = await fetch("{{ url_for('design_upload') }}", {
                method: "POST",
                body: formData
            })

            console.log(response)
            const data = await response.text()

            if (data == "SUCCES") {
                closeModal()
                loadMyDesigns()
                return
            }

            if (data === "LIMIT") {
                showError("Byl překonán limit povolených návrhů na uživatele")
                return
            }

            showError(`Chyba: ${data.error}`)

        } catch (err) {

            console.error(err)
            showError("Chyba: Nepodařilo se kontaktovat server")

        }
    }

    

    document.getElementById("colorSelect")
    .addEventListener("change", redrawCanvas);

</script>


<!-- Zoomable -->
<script>
    class ZoomStage extends HTMLElement {
    constructor() {
        super();

        this.zoom = 1;
        this.active = false;

        this.mouseX = 0;
        this.mouseY = 0;
    }

    connectedCallback() {
        this.content = this.querySelector(".zoom-content");

        this.addEventListener("mousemove", (e) => this.onMove(e));

        this.addEventListener("mousedown", (e) => {
            if (e.button === 0) {
                this.active = true;
                this.zoom = 3;
                this.render();
            }
        });

        window.addEventListener("mouseup", () => {
            this.active = false;
            this.zoom = 1;
            this.render();
        });
    }

    onMove(e) {
        const rect = this.getBoundingClientRect();

        this.mouseX = e.clientX - rect.left;
        this.mouseY = e.clientY - rect.top;

        this.render();
    }

    render() {
        const rect = this.getBoundingClientRect();

        if (this.zoom === 1) {
            this.content.style.transform = `scale(1) translate(0px, 0px)`;
            return;
        }

        const scale = this.zoom;

        const x = this.mouseX / rect.width;
        const y = this.mouseY / rect.height;

        const offsetX = -(x * rect.width * (scale - 1));
        const offsetY = -(y * rect.height * (scale - 1));

        this.content.style.transform =
            `translate(${offsetX}px, ${offsetY}px) scale(${scale})`;
    }
}

customElements.define("zoom-stage", ZoomStage);
</script>

 <!-- Handler of internal windows -->
<script>

async function loadMyDesigns() {

    const grid = document.getElementById("myDesignsGrid")

    grid.innerHTML = "<div class=\"design-title\" style=\"width:100%\">Probíhá načítání...</div>";
    try {
        const response = await fetch(
            "{{ url_for('my_designs') }}",
            {
                cache: "no-cache"
            }
        )

        const data = await response.json()

        if (data.designs.length == 0) {
            grid.innerHTML = "<div class=\"design-title\" style=\"width:100%\">Ještě tady nic není :(</div>";
        } else {grid.innerHTML=""}

        for (const design of data.designs) {


            const card = document.createElement("div")
            card.className = "design-card"

            // HEADER
            const header = document.createElement("div")
            header.className = "design-header"

            const title = document.createElement("div")
            title.className = "design-title"
            title.textContent = `#${design.id}`

            const deleteButton = document.createElement("button")
            deleteButton.className = "design-delete"
            deleteButton.textContent = "Smazat"

            deleteButton.onclick = async () => {

                if (!confirm("Opravdu smazat návrh?"))
                    return

                const res = await fetch(
                    `/api/design/${designID}`,
                    {
                        method: "DELETE"
                    }
                )

                const text = await res.text()

                if (text === "SUCCESS") {
                    card.remove()
                    if (grid.innerHTML=="") {
                        grid.innerHTML= "<div class=\"design-title\" style=\"width:100%\">Ještě tady nic není :(</div>";
                    }
                } else {
                    alert(`Chyba: ${text}`)
                }

            }

            header.appendChild(title)
            header.appendChild(deleteButton)

            // ZOOM STAGE
            const zoomStage = document.createElement("zoom-stage")

            const zoomContent = document.createElement("div")
            zoomContent.className = "zoom-content"

            // DRAW
            const [frontImage, backImage] = await Promise.all([
                loadImage(design.front),
                loadImage(design.back)
            ])

            const canvas = await drawCanvas(
                design.color,
                frontImage,
                backImage
            )

            zoomContent.appendChild(canvas)
            zoomStage.appendChild(zoomContent)

            card.appendChild(header)
            card.appendChild(zoomStage)

            grid.appendChild(card)

        }
    }
    catch(e) {
        console.warn(e);
        grid.innerHTML = "<div class=\"design-title\" style=\"width:100%\">Při načítáni nastala chyba :(</div>";
    }

}

let lastSite = "W-Welcome";
function switchSite(name) {
    if (name==lastSite) {return}
    document.getElementById(lastSite).style.display="none";
    document.getElementById(name).style.display="block";
    lastSite=name
    if (name=="W-MyDesigns") {
        loadMyDesigns();
    } else if (name=="W-Designs") {
        loadDesigns();
    }
}

let DesignPage = 1;

async function loadDesigns() {

    const grid = document.getElementById("DesignsGrid");

    grid.innerHTML = "<div class=\"design-title\" style=\"width:100%\">Probíhá načítání...</div>";

    try {
        const response = await fetch(
            `{{ url_for('get_best_designs') }}?page=${DesignPage}`,
            { cache: "no-cache" }
        );

        const data = await response.json();

        if (data.status=="locked") {
            document.getElementById("pageText").innerText = `Uzamčeno`;
            document.getElementById("prevBtn").classList.add("disabled");
            document.getElementById("nextBtn").classList.add("disabled");

            grid.innerHTML = "<div class=\"design-title\" style=\"width:100%\">Hlasování ještě nebylo odemčeno</div>";
            return;
        }

        if (!data.designs || data.designs.length == 0) {
            DesignPage = 1;
            document.getElementById("pageText").innerText = `Stránka 1`;
            document.getElementById("prevBtn").classList.add("disabled");
            document.getElementById("nextBtn").classList.add("disabled");
            grid.innerHTML = "<div class=\"design-title\" style=\"width:100%\">Ještě tady nic není :(</div>";
            return;
        }

        grid.innerHTML = "";

        for (const design of data.designs) {

            const isOwner = design.uid === USER.BIGY_ID;

            const card = document.createElement("div");
            card.className = "design-card";

            // HEADER
            const header = document.createElement("div");
            header.className = "design-header";

            const title = document.createElement("div");
            title.className = "design-title";
            title.textContent = `ID #${design.id} / UID #${design.uid}`;

            header.appendChild(title);

            const footer = document.createElement("div");
            footer.className = "design-footer";
            footer.textContent = `${design.votes} voleb`
            // ACTION BUTTON
            const actionButton = document.createElement("button");

            if (isOwner) {

                actionButton.className = "design-delete";
                actionButton.textContent = "Smazat";

                actionButton.onclick = async () => {

                    if (!confirm("Opravdu smazat návrh?")) return;

                    const res = await fetch(
                        `/api/design/${design.id}/delete`,
                        { method: "DELETE" }
                    );

                    const text = await res.text();

                    if (text === "SUCCESS") {
                        card.remove();

                        if (grid.innerHTML == "") {
                            grid.innerHTML = "<div class=\"design-title\">Ještě tady nic není :(</div>";
                        }
                    } else {
                        alert(`Chyba: ${text}`);
                    }
                };

            } else {

                actionButton.className = "vote-btn";
                actionButton.innerHTML = "<span>Volit</span>";
                actionButton.classList.add("vote-btn");
                if (design.id === data.voted) {
                    actionButton.classList.add("active");
                    actionButton.innerHTML = "<span>Zvoleno</span>";
                }
                actionButton.onclick = async () => {

                    const res = await fetch("/api/vote", {
                        method: "POST",
                        headers: {
                            "Content-Type": "application/json"
                        },
                        body: JSON.stringify({
                            design_id: design.id
                        })
                    });

                    const text = await res.text();

                    if (text === "voted") {
                        document.querySelectorAll(".vote-btn.active").forEach(btn => {
                            btn.classList.remove("active");
                            btn.querySelector("span").innerText = "Volit";
                        });

                        actionButton.classList.add("active");
                        actionButton.querySelector("span").innerText = "Zvoleno";
                    }

                    else if (text === "unvoted") {
                        actionButton.classList.remove("active");
                        actionButton.querySelector("span").innerText = "Volit";
                    }

                    else {
                        alert("Chyba");
                    }
                };
            }

            header.appendChild(actionButton);

            // CANVAS
            const zoomStage = document.createElement("zoom-stage");

            const zoomContent = document.createElement("div");
            zoomContent.className = "zoom-content";

            const [frontImage, backImage] = await Promise.all([
                loadImage(design.front),
                loadImage(design.back)
            ]);

            const canvas = await drawCanvas(
                design.color,
                frontImage,
                backImage
            );

            zoomContent.appendChild(canvas);
            zoomStage.appendChild(zoomContent);

            card.appendChild(header);
            card.appendChild(zoomStage);
            card.append(footer);
            grid.appendChild(card);
        }

        DesignPage = data.page;
        document.getElementById("pageText").innerText = `Stránka ${DesignPage}`;
        if (DesignPage<=1) {
            document.getElementById("prevBtn").classList.add("disabled");
        } else {
            document.getElementById("prevBtn").classList.remove("disabled");
        }
        if (data.has_next) {
            document.getElementById("nextBtn").classList.remove("disabled");
        } else {
            document.getElementById("nextBtn").classList.add("disabled");
        }

    } catch (e) {
        console.warn(e);
        grid.innerHTML = "<div class=\"design-title\" style=\"width:100%\">Při načítáni nastala chyba :(</div>";
    }
}

</script>
</body>
</html>